<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Hola DeepSeek!
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{{ asset('style/main.css') }}">
        {% block stylesheets %}{% endblock %}{% block javascripts %}{% endblock %}
    </head>
    <body>
        <main>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
